[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
environs = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
pytesseract = "*"
python-docx = "*"
pillow = "*"
pymupdf = "*"
celery = "*"
redis = "*"

[dev-packages]
pytest = "*"
mypy = "*"

[requires]
python_version = "3.12"
